*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:'Open Sans';
}

#welcome-div{
	height:100vh;
	width:100vw;
	display:table-cell;
	vertical-align:middle;
	padding:10%;
}

#welcome-div form{
	font-size:3vh;
}

#welcome-div input{
	font-size:2.6vh;
	height:4vh;
	width:70vw;
	/*background:red;*/
	margin:15px;
	border:solid #458CE3 1px;
	padding:10px;
}

h1{
	font-size:5.3vh;
}

h2{
	font-size:4vh;
}

h4{
	font-size:2.3vh;
	/*font-family:'Open Sans';*/

}

.primary-btn{
	font-size:3vh;
	padding:20px;
	border:none;
	margin:15px;
	min-width:70vw;
	background-color:#459DE3;
	color:white;
	text-decoration:none;
}

.hollow-btn{
	font-size:3vh;
	padding:20px;
	border:none;
	margin:15px;
	min-width:70vw;
	background-color:white;
	color:rgb(200,200,200);
	text-decoration:none;
}

.link{
	font-size:3vh;
	padding:20px;
	border:none;
	margin:15px;
	min-width:70vw;
	background-color:none;
	color:rgb(200,200,200);
	text-decoration:none;
}


