*{
	margin:0;
	box-sizing:border-box;
	padding:none;
	font-family:'Open Sans';
}

nav{
	height:100px;
	background:#295082;
}

#katsu{
	height:50em;
	width:50em;
}

h2{
	font-size:3.9vh;

}

button{
	font-size:2.6vh;
	margin:100px;
}

.container{
	width:90%;
	margin:0 auto;
}