*{
	margin:0;
	box-sizing:border-box;
	padding:0;
	font-family:'Open Sans';
}

body{
	background-size:cover;
	background-repeat:no-repeat;
}



h2{
	font-size:3.9vh;

}

button{
	font-size:2.6vh;
	margin:100px;
	color:white;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	background:none;
  	border:none;
  	padding:20px;
}

button:hover{
	border:solid white 3px;
	border-radius:30px;
	background:none;
}



